body{
    margin: 10px auto;
    max-width: 70%;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FBF0E1;
}

#btn-container{
    margin: 10px 0;  
}
#start{
    display: inline-flex;   
    align-items: stretch;
    margin: 5px;
    width: 60%; 
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(83, 47, 25, 0.2);
}
input{
    flex-grow: 1;
    border-radius: 20px 0 0 20px;
    border: 2px solid #532F19;
    border-right: none;
    padding: 5px 15px;
    margin-right: 0;
    outline: none;
}
#input-btn{
    border: 2px solid #532F19;
    background-color: #532F19;
    color: #FBF0E1;
    border-radius: 0 20px 20px 0;
    padding: 7px 8px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

.grocery-wrapper {
    display: inline-flex;
    align-items: stretch;
    margin: 5px;
   
}
.grocery {
    
    border: none;
    width: auto;
    background-color: #B1A297;
    color: #532F19;
    font-weight: bold;
    padding: 5px;
    margin: 0; 
    border-radius: 15px 0 0 15px;
     box-shadow: 0 3px 5px rgba(83, 47, 25, 0.15);
    
}

.delete-btn {
    border: none;
    background-color: #532F19;
    color: #FBF0E1;
    border-radius: 0 15px 15px 0; 
    padding: 5px 8px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
     box-shadow: 0 3px 5px rgba(83, 47, 25, 0.15);
     
}
#grc-txt {
    margin-left: 30px;
    text-align: start;
}
.list-item {
    border: none;
    width: auto;
    min-width: 100px;
    padding:5px 10px;
    margin:0;
    border-radius: 15px 0 0 15px;
    font-weight: bold;
    background-color: white;
    color: black;
    cursor: pointer;
     box-shadow: 0 3px 5px rgba(83, 47, 25, 0.15);
}

li {
    margin:5px 10px;
    text-align: start;
}
.list-item.checked-item {
    text-decoration: line-through;
    background-color: #532F19;
    color: #FBF0E1;
}